# python
backend/__pycache__/
backend/venv/
backend/.venv/
backend/*.pyc

# javascript
frontend/node_modules/
frontend/dist/
frontend/build/

# html
backend/examples/*.html
backend/examples/*.json

# word
backend/informes_pacientes/

# chromedriver
backend/utils/

# llm
backend/models/

# local
/.env
.env
*.jpg
*.png
*.jpeg