# python
backend/__pycache__/
backend/venv/
backend/.venv/
backend/*.pyc
backend/.env
backend/backend.spec
backend/build
backend/dist

# javascript
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/bin/
frontend/release/

# html
backend/examples/*.html
backend/examples/*.json

# word
backend/informes_pacientes/

# chromedriver
backend/utils/

# llm
backend/models/

# local
/.env
.env
*.jpg
*.png
*.jpeg